@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #413e3d;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
    padding: 24px;

}

.title-img {
    height: 100px;
    
}

.head-menu {
    display: flex;
    gap: 32px;
     
}

.item-menu {
     font-family: 'Open Sans', sans-serif;
     color: aliceblue;
     font-weight: 700;
     font-size: 24px;
 } 

 .content {
    margin-bottom: 48px;
    border-top: 0.4px solid aliceblue;

 }
    