@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #413e3d;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
    padding: 32px;

}

.title-img {
    height: 100px;
    
}

.head-menu {
    display: flex;
    gap: 32px;
     
}

.item-menu {
     font-family: 'Open Sans', sans-serif;
     color: aliceblue;
     font-weight: 700;
     font-size: 24px;
 } 

 .content {
    margin-bottom: 48px;
    border-top: 0.4px solid aliceblue;

 }
.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
 
.type-main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

h1 {
    font-family: 'Open Sans',sans-serif;
    font-size: 64px;
    letter-spacing: -2px;
    line-height: 50px;
    margin: 0 0 8px 0;
    color: aliceblue;
    
}

h2 {
    
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    color: aliceblue;
    letter-spacing: -0.72px;
    line-height: 43px;
    margin: 40px 0 4px -1.8px
}

.text {
   
    font-family: "Merriweather Sans", sans-serif;
    color: aliceblue;
    font-size: 21px;
    letter-spacing: -0.1px;
    line-height: 31px;
    margin: 0 0 30px 0;

}

div {
    align-items: center;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
    gap: 32px;

}

button {
    padding: 18px;  
    border-style: none;
    margin: 12px;
    background-color: rgb(0, 0, 0);
    height: auto;


}